/* FUENTES PRINCIPALES */
	$theme-font-family							: 'Roboto', sans-serif;
	
/* VARIABLES GENERALES DEL PROYECTO */
	$max-width											: 1560px;
	$max-width-client								: 1440px;
	$color-backgr-black							: #111;
	$color-white										: #fff;
	$color-slider-text							: #fff;
	$theme-color-primary						: #CAA462;
	$theme-color-text								: #848484;
	$theme-color-text-contrast			: #6A6A6A;
	$theme-color-bg-img 						: #282828;
/* VARIABLES SECUNDARIAS */
	
/* CUSTOMS VARIABLES */
	